[bumpversion]
current_version = 2.2.1
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:rust/Cargo.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:rust/Cargo.lock]
search = name = "rigour-core"
	version = "{current_version}"
replace = name = "rigour-core"
	version = "{new_version}"
