name: build

on: [push]
permissions:
  id-token: write

jobs:
  python:
    runs-on: ubuntu-latest
    strategy:
        matrix:
          python:
            - "3.10"
            - "3.11"
            - "3.12"
            - "3.13"
    steps:
      - uses: actions/checkout@v6
      - name: Show ref
        run: |
          echo "$GITHUB_REF"
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
            python-version: ${{ matrix.python }}
      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: rigour-core
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libicu-dev pkg-config
          version: 1.0
      - name: Install dependencies
        run: |
          pip install -U pip maturin
          pip install -e ".[dev]"
      - name: Run the tests
        run: |
          make test
      - name: Check type annotations (strict)
        run: |
          make typecheck
      - name: Build a distribution
        run: |
          python3 -m build --wheel
      - name: Publish a Python distribution to PyPI
        if: matrix.python == '3.12' && github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
